section.about   
    .container
        .title.title-with-bottom-line
            h2.title-header(id='about') About us
            .title-text We are added our major Services

        ul.about-list
            li.about-item 
                img.icon.icon-like(src='../../images/icons/like.png')
                h3.about-header Facebook Marketing
                p.about-description Lorem Ipsum is simply dummy text of the printing and typesetting industrynstandard dummy text ever 
            li.about-item 
                img.icon.icon-book(src='../../images/icons/book.png')
                h3.about-header Lading pages Creation
                p.about-description Lorem Ipsum is simply dummy text of the printing and typesetting industrynstandard dummy text ever 
            li.about-item 
                img.icon.icon-message(src='../../images/icons/message.png')
                h3.about-header Ads management
                p.about-description Lorem Ipsum is simply dummy text of the printing and typesetting industrynstandard dummy text ever
            


