section.approch
    .container
        +title('Our Approch','Check Our approches step by step ( how we do it )')
        ul.approch-list
            li.approch-item
                .approch-image
                    img.approch-picture(src='../../images/step-1.jpg')
                    .approch-step step
                .approch-text   
                    .approch-title Step 1: Heading Here
                    p.approch-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approch-item
                .approch-image
                    img.approch-picture(src='../../images/step-2.jpg')
                    .approch-step step
                .approch-text   
                    .approch-title Step 2: Heading Here
                    p.approch-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approch-item
                .approch-image
                    img.approch-picture(src='../../images/step-3.jpg')
                    .approch-step step
                .approch-text   
                    .approch-title Step 3: Heading Here
                    p.approch-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approch-item
                .approch-image
                    img.approch-picture(src='../../images/step-4.jpg')
                    .approch-step step
                .approch-text   
                    .approch-title Step 4: Heading Here
                    p.approch-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.