header.header
    .header-top
        .container
            .contacts
                a.contact(href='tel: +380 6337 318')
                    span.contact-icon 
                        i.fa.fa-mobile.fa-lg(aria-hidden="true")
                    span.contact-text +380 6337 318
                a.contact(href='mailto: infobusiness.ua')
                    span.contact-icon 
                        i.fa.fa-envelope(aria-hidden="true")
                    span.contact-text infobusiness.ua
                a.contact-facebook(href='facebook.com')
                        i.fa.fa-facebook(aria-hidden="true")
    .container 
      .header-bottom
        .logo: img(src="images/logo.png", alt="logo-bussines") 
        include _nav.pug
        a.button.header__button.button--red(href='#') Free Consultation
