nav.nav
    - var items=['Home', 'About us', 'Our Approch', 'Our Work']
    - var dataItems=['header','about','approch','work']
        each item, key in items  
            if item == 'Home'
                a.nav_links.nav_links--active(href='#'+ dataItems[key])=item
            else
                a.nav_links(href='#'+ dataItems[key])=item