.about{
    padding: 100px 0 105px 0;
    text-align: center;
    @media (max-width: 767.98px) {
        padding: 50px 0 53px 0;
    }
    &-list{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 50px;
    }
    &-item{
        width: 25%;
        @media  (max-width: 991.98px) { 
            width: 25%;
            justify-content: center;
           box-sizing: border-box;
           padding: 5px;
        }
        @media (max-width: 767.98px) {
            padding: 0 25px;
            width: 80%;
           box-sizing: border-box;
           padding: 5px;
        }
        @media (max-width: 575.98px) { 
           width: 80%;
           box-sizing: border-box;
           padding: 5px;
        }
        
    }
    &-header{
        margin: 0 0 12px 0;
        font-family: $ff-main-bold;
        font-size:1.375rem;
        color: #424242;
        
    }
    &-description{
        margin-top: 0;
        font-size: 0.857rem;
        font-family: $ff-main-light;
        color: #5c5c5c;
        line-height: 1.5;
        @media (min-width: 768px) and (max-width: 991.98px) { 
            
            font-size: 0.75rem;
            
           
         }
    }
}
.icon{
    padding: 0 0 23px 0;
    max-width: 65px;
    max-height: 80px;
}